body{
  background-color: #DF744A
}

h1{
  color:white;
  background-color: #BFD8D2;
  border: 3px solid white;
  border-radius:15px
}

.first-paragraph{
  color:#FEDCD2;
  background-color: #DF744A;
  border-radius: 10px;
  text-align: center;
}

p{
  border: 2px dotted white;
  text-transform: uppercase;
  text-decoration: underline;
}

.image-1{
  height:200px;
}
.image-6{
  height:300px;
}
.image-7{
  height:400px;
}


.image-2{
  height:250px;
  width:250px;
  position: absolute; top: 150px; right: 40px;
  border-radius: 30px;
  scroll-behavior: smooth;
}

.image-3{
  height:250px;
  width:250px;
  position: absolute; top: 350px; right: 40px;
  border-radius: 30px;
}

.image-4{
  height:250px;
  width:250px;
  position: absolute; top: 550px; right: 40px;
  border-radius: 30px;
}

.image-5{
  height:250px;
  width:250px;
  position: absolute; top: 750px; right: 40px;
  border-radius: 30px;
}



div{
  background-color:#DCB239;
  border-top-right-radius:200px;
  border-bottom-right-radius:200px;
  border-right:15px solid orange;
}

form {
  width: 150px;
}

input {
  display: block;
  width: 150px;
}

.login-info {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px 5px;
  font-size: 12px;
  margin-bottom: 15px;
}

.sign-in {
  background-color: #efbc19;
  font-size: 16px;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  color: #004a5e;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
}
